@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro);

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  font-size: 16px;
}

h1, h2 {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

h2 {
  margin-top: 40px;
}

a {
  color: #999;
  font-weight: bold;
  transition: color .2s;
}

a:hover {
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f4f4;
  width: 250px;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}

ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

li {
  margin-bottom: 3px;
}

ul a {
  text-decoration: none;
}

article {
  padding-left: 270px;
}

.description {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
}

td code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: #07a;
}
