@import url(https://fonts.googleapis.com/css?family=Montserrat|Ubuntu+Mono);

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  color: #333;
  font-size: 16px;
  padding: 0;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-size: 1.2em;
  margin-top: 40px;
}

a {
  color: #333;
  transition: color .2s;
}

a:hover {
  color: #008cff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f4f4;
  width: 250px;
  height: 100vh;
  padding: 20px;
  overflow-y: scroll;

  font-size: 14px;
}

ul {
  margin: 0 0 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 5px 0;
}

li.home {
  margin-bottom: 10px;
}

ul a {
  text-decoration: none;
}

nav ul li {
  padding: 0;
}

nav ul a {
  padding: 5px 0;
  display: block;
}

span.frequency {
  font-size: 12px;
  color: #999;
}

article {
  padding-left: 290px;
  padding-right: 40px;
}

.description {
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
}

ul code,
td code {
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
  color: #07a;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
}

span.literal-data {
  color: #999;
}

.ui-two-column {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

.ui-two-column .ui-col {
  float: left;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

ul.ui-tree,
ul.ui-tree ul,
ul.ui-options,
ul.ui-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.ui-tree ul,
ul.ui-options ul {
  margin-left: 5px;
  margin-top: 5px;
}

ul.ui-tree li {
  position: relative;
  padding-left: 12px;
}

ul.ui-tree span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 16px;
}

ul.ui-tree span:before {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

ul.ui-tree li.open > span:before {
  border-color: #999;
}

ul.ui-tree li ul {
  display: none;
}

ul.ui-tree li.open > ul {
  display: block;
}
