<!DOCTYPE html>
<html>
<head>
  <title>{{#if module}}{{module.title}}{{else}}moduledoc{{/if}}</title>
  <link rel="stylesheet" href="assets/prism.css">
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
  <nav>
    <ul>
      <li class="home"><a href="index.html">[Home]</a></li>
      {{#modules}}
      <li><a href="{{this.title}}.html">{{this.title}}</a></li>
      {{/modules}}
    </ul>
  </nav>
  <article>
    {{#if module}}

    <h1>{{module.title}}</h1>
    {{#if module.description}}
    <div class="description">{{module.description}}</div>
    {{/if}}
    <pre><code class="language-markup">&lt;{{module.dom}}{{#if module.class}} class=&quot;{{module.class}}&quot;{{/if}}&gt;
{{{module.dom_inner}}}
&lt;/{{module.dom}}&gt;</code></pre>

    {{#if module.options.length}}
    <h2>Options</h2>
    <table>
    {{#module.options}}
      <tr>
        <td><code>{{class}}</code></td>
        <td>{{description}}</td>
      </tr>
    {{/module.options}}
    </table>
    {{/if}}

    {{#if module.contains.length}}
    <h2>Contains</h2>
    <ul>
    {{#each module.contains}}
      <li>
      {{#if this.module }}
        <a href="{{this.data}}.html">
          {{this.data}}
          {{#if this.frequency_str}}
          <span class="frequency">[{{this.frequency_str}}]</span>
          {{/if}}
        </a>
      {{else}}
        <span class="literal-data">{{this.data}}</data>
      {{/if}}
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{else}}

    <h1>moduledoc</h1>

    <div class="ui-two-column">

      <div class="ui-col">
        <h2>Tree</h2>
        {{{tree}}}
      </div>

      <div class="ui-col">
        <h2>Options</h2>
        <ul class="ui-options">
          {{#each optionslist}}
          <li>
            <code>{{this.class}}</code>
            <ul>
              {{#each this.modules}}
              <li><a href="{{this}}.html">{{this}}</a></li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>

    </div>

    {{/if}}

  </article>
  <script src="assets/prism.js"></script>
  <script src="assets/functions.js"></script>
</body>
</html>
